h3 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background-color: #f5f5f5;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 13px;

}

th {
  font-weight: bold;
}

tbody tr:hover {
  background-color: #f9f9f9;
}

.pagination-controls {
  margin-top: 20px;
  text-align: center;
}

.no-deals {
  font-style: italic;
  color: #888;
}

.no-deals,
.error {
  font-style: italic;
  color: #888;
  margin-bottom: 20px;
}