.header {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: #00cdc312;
  /* This is a light blue color */

}

.no-deals,
.error {
  color: #999;
  font-size: 16px;
  text-align: center;
}

.error {
  color: #f00;
}



h3 {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background-color: #01cdc37c;
  color: #3c3c3c,
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 17px;

}

th {
  font-weight: bold;
}

tbody tr:hover {
  background-color: #f9f9f9;
}

.pagination-controls {
  margin-top: 20px;
  text-align: center;
}

.no-deals {
  font-style: italic;
  color: #888;
}

.no-deals,
.error {
  font-style: italic;
  color: #888;
  margin-bottom: 20px;
}

pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
  background-color: #f2f2f2;
  color: #333;
  font-size: 14px;
  width: fit-content;
  margin: 0 auto;
}

pagination-controls .ngx-pagination li {
  border: none;
  background-color: transparent;
}

pagination-controls .ngx-pagination .current {
  background-color: #333;
  color: #fff;
  border-radius: 50%;
}

pagination-controls .ngx-pagination .direction-links {
  background-color: transparent;
  color: #333;
}

pagination-controls .ngx-pagination .direction-links[disabled] {
  color: #ccc;
}

@media screen and (max-width: 600px) {
  table thead {
    display: none;
  }

  table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  table td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}